.header{
    border: 3px solid #fcfcfc5d;
    border-radius: 10px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    &__logo{
        & img{
            width: 60%;
        }
    }
    &__score{
        background-image: linear-gradient(to top ,#fff,#e9e9e9);
        padding: 10px 20px;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        border-radius: 5px;
        & p{
            font-size: 14px;
            color: var(--score-text);
            font-weight: 700;
        }
        & h3{
            font-size: 30px;
            font-weight: 700;
            color: var(--dark-text);
        }
    }
    @media (min-width:500px) {
        width: 500px;
        margin-inline: auto;
    }
    @media (max-width:500px) {
        margin-bottom: 100px;
    }
}